.user-icon {
  position: relative;
  color: #333;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1000;
}

.search-container {
  width: 40%;
  min-width: 300px;
}

.dropdown-menu {
  z-index: 999;
}

