spring:
  application:
    name: sf-auth
  devtools:
    restart:
      enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 9091

jwt:
  keystore:
    location: classpath:jwt-keystore.jks
    password: password
    alias: jwt-key

logging:
  level:
    root: INFO
    com.stayfinder.Auth_Service: DEBUG